<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập SSH</title>
</head>
<body>
    <h2>Đăng nhập SSH</h2>
    <form th:action="@{/login}" th:object="${sshRequest}" method="post">
        <label>Host:</label>
        <input type="text" th:field="*{host}" /><br/>
        <label>Username:</label>
        <input type="text" th:field="*{username}" /><br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/><br/>
        <button type="submit">Đăng nhập</button>
    </form>
    <div th:if="${error != null}" style="color:red;">
        <p th:text="${error}"></p>
    </div>
</body>
</html>